#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
  }

#begin-page {
   --ion-background-color: #535eda;
}

#notifynd-logo {
    width: 80%;
    height: auto;

}

h2 {
    color: white;
}

ion-button {
    --background: black;
    --background-activated: white;
    --color-activated: black;

}
