<ion-content  fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="./assets/phone-with-notification.png" />
        <h2>What is Notifynd?</h2>
        <p>
          Whether you're travelling to a new city for the first time or you're a long-time local in your hometown, <b>Notifynd</b> sends you real-time, insightful, bite-sized notifications about the places and businesses around you.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./assets/maps.png" />
      <h2>How does it work?</h2>
      <p>
        Your phone and <b>Notifynd's</b> technology is able to detect if you're within a certain geolocational radius. As a result, this triggers the relevant notification to be sent to your phone. 
      </p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/world.png" />
      <h2>Discover with ease</h2>
      <p>
        With <b>Notifynd</b> you can discover musical festivals near you, job opportunities at local businesses or which bar currently has the best happy hour specials; whatever it may be, it's that easy!
      </p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/social-media.png" />
      <h2>Grow your audience</h2>
      <p>
        From small business owners to big event hosters, get in touch with us today to see if <b>Notifynd</b> is the the right platform for improving your audience growth. <b>Notifynd</b> lets you reach out to regulars and newcomers - a dynamic range of potential customers! 
      </p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/astronaut.png" />
      <h2>We respect your privacy</h2>
      <p>
       <b>We don't store or share any of your locational data. To continue using Notifynd you must allow location tracking.</b>
      </p>
      <ion-button fill="clear" (click)="allowLocationTracking()">Authorise location tracking</ion-button>
      <ion-button href="./tab1" [disabled]="this.buttonDisabled"> Continue <ion-icon slot="end" name="arrow-forward"></ion-icon> </ion-button>
    
      
    </ion-slide>
  </ion-slides>
</ion-content>