<ion-content  fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="./assets/world.png" />
        <h2>What is Notifynd?</h2>
        <p>
          Whether you're travelling to a new city for the first time or you're a long-time local in your hometown, <b>Notifynd</b> sends you real-time, insightful, bite-sized notifications about the places and businesses around you.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./assets/maps.png" />
      <h2>How does it work?</h2>
      <p>
        Your phone and <b>Notifynd's</b> technology is able to detect if you're within a certain geolocational radius. As a result, this triggers the relevant notification to be sent to your phone. 
      </p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/notebook.png" />
      <h2>What's in it for you?</h2>
      <p>
        <b>Notifynd</b> lets you learn about the places around you! Be the first to find out about nearby businesses who are hiring or if there's a music festival not far from you! You're able to bookmark these notifications for future reference as well.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/social-media.png" />
      <h2>Grow your business</h2>
      <p>
       If you own a small business or want to plug a big event <b>Notifynd</b> lets you reach out to engaged customers. Contact us today to see if we're the right platform for you!
      </p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/astronaut.png" />
      <h2>We respect your privacy</h2>
      <p>
       <b>We don't store or share any of your locational data. To continue using Notifynd you must allow location tracking.</b>
      </p>
      <ion-button fill="clear" (click)="allowLocationTracking()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    
      
    </ion-slide>
  </ion-slides>
</ion-content>