#notifynd-logo {
    width: 65%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

}

h2 {
    padding: 20px 45px 0 45px;
    text-align: center;
}

#cat-with-phone {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 10px;
}

#tab2-div {
    
}

.ion-padding {
    background-color: #f7f7f7;
    font-size: 15px;
    padding: 15px;
    line-height: 1.5;
}

.ion-label {
    color:#535eda;
    padding: 10px 0 10px 0;
    font-size: 15px;
}
#button {
    --background-color: #535eda;
    --background-activated: #353e9d;
}

#stop-tracking-button {
    --background-activated: #a21b1b;
}


.tracking-text {
    font-size: 14px;
}

h3 {
    color: #353e9d;
}

p {
    padding: 0 50px;
    font-size: 14px;
    line-height: 1.5;
}