<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
  <p>BRUHHHHHHH</p>
  <div *ngFor="let user of collection">
    <div>
     <p>{{user[0].text}}</p>
     <p>"This is a string</p>
    </div>
   </div>
  <!-- <ion-list>
    <ion-item *ngFor="let location of locationTraces">
      <ion-label class="ion-text-wrap">
        <ion-label>Time: {{location.timestamp | date:'M/d/yy, h:mm a'}}</ion-label>
        <ion-label>Latitude: {{location.latitude}} Longitude: {{location.longitude}}</ion-label>
        <ion-label>Accuracy: {{location.accuracy}}</ion-label>
      </ion-label>
    </ion-item>
  </ion-list> -->
  <!-- <ng-container *ngIf="!locationWatchStarted; else elseTemplate">
    <ion-button color="primary" (click)="getCoordinatesV2()">Start tracking</ion-button>
  </ng-container>
  <ng-template #elseTemplate>
    Location Watch Started!
  </ng-template> -->
  <ion-button color="primary" (click)="testNotif()">1 Notification</ion-button>
  <ion-button color="primary" (click)="testMultipleNotifs()">2 Notifications</ion-button>
  <ion-button color="primary" (click)="scheduleLocationBasedNotif()">Location-based notification</ion-button>
  <ion-button color="primary" (click)="getCoordinates()">Start tracking</ion-button>

</ion-content>
