<ion-header>
  <ion-toolbar color="primary">
    <img id="notifynd-logo" src="./assets/notifynd-logo-white.png"/>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false" [fullscreen]="true">
  <div id="tab1-div">
    <img id="dinosaur-on-scooter" src="./assets/dinosaur-on-scooter.png"/>
    <div *ngIf="trackingLocation === false; else elseBlock">
      <h3>Location services are off</h3>
      <p>Your location is not being shared to Notifynd and you will not receive location-based notifications.</p>
      <br>
      <ion-button class="button" shape="round" (click)="trackLocation()">
        Share location
      </ion-button>
    </div>
    <ng-template #elseBlock>
      <h3>Location services are on</h3>
      <p>You'll receive our nifty location-based notifications about the places and events around you. What will you discover today?</p>
      <br>
      <ion-button id="stop-tracking-button" shape="round" (click)="stopTrackingLocation()">Stop sharing location</ion-button>
    </ng-template>
  </div>
</ion-content>
